h1.hOne {
  color: blue;
}

h2.hTwo {
  color: red;
}

em {
  color: chocolate;
  font: bold;
  font-family: cursive;
}

img {
  width: auto;
  height: 120px;
}

button.addButton {
  background-color: red;
  color: azure;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

button.delButton {
  background-color: red;
  color: azure;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.center-container {
  text-align: center;
}

body {
  text-align: center;
}

.gasCarStyle {
  background-color: cyan;
}
